@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


a {
  color: inherit;
  text-decoration: none;
}
.darkMode{
  background-color: black;
}
* {
  box-sizing: border-box;
}
@font-face {
  font-family: "lobster";
  src: url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
}


::-webkit-scrollbar{
  width: 0px;
}